.toast-container .ngx-toastr.noti-toast {
  background-image: none !important;
  padding-left: 16px !important;
  border: 1px solid;
  border-radius: 1rem;
  box-shadow: 0 0 150px #999999;
}

.toast-container .ngx-toastr.noti-toast.noti-toast-success {
  background-color: #dbfde9 !important;
  color: #11a851;
  border-color: #11a851 !important;
}

.toast-container .ngx-toastr.noti-toast.noti-toast-danger {
  background-color: #fee2e2 !important;
  color: #dc2626 !important;
  border-color: #dc2626 !important;
}

.toast-container .ngx-toastr.noti-toast.noti-toast-warning {
  background-color: #ffedd5 !important;
  color: #ea580c !important;
  border-color: #ea580c !important;
}

.toast-container .ngx-toastr.noti-toast.noti-toast-info {
  background-color: #dbeafe !important;
  color: #2757dc !important;
  border-color: #2757dc !important;
}

.toast-container .ngx-toastr {
  border: 1px solid !important;
  border-radius: 1rem !important;
  box-shadow: 0 0 150px #999999 !important;
}

.toast-container .ngx-toastr.toast-success {
  background-color: #dbfde9 !important;
  color: #11a851;
  border-color: #11a851 !important;
  background-image: url("/assets/icons/toast-success.png") !important;
}

.toast-container .ngx-toastr.toast-error {
  background-color: #fee2e2 !important;
  color: #dc2626 !important;
  border-color: #dc2626 !important;
  background-image: url("/assets/icons/toast-danger.png") !important;
}

.toast-container .ngx-toastr.toast-warning {
  background-color: #ffedd5 !important;
  color: #ea580c !important;
  border-color: #ea580c !important;
  background-image: url("/assets/icons/toast-warning.png") !important;
}

.toast-container .ngx-toastr.toast-info {
  background-color: #dbeafe !important;
  color: #2757dc !important;
  border-color: #2757dc !important;
  background-image: url("/assets/icons/toast-info.png") !important;

  .toast-close-button {
    color: #2757dc !important;

    &:hover {
      color: #1e40af !important;
      opacity: 1 !important;
    }
  }
}
