.tooltip .tooltip-inner {
  background-color: #fff !important;
  color: #333;
  box-shadow: var(--bs-box-shadow) !important;
  font-family: "Prompt", "Noto Sans Thai", sans-serif !important;
}
.tooltip-success .tooltip-inner {
  color: var(--color-success);
}
.tooltip-warning .tooltip-inner {
  color: var(--color-warning);
}
.tooltip-danger .tooltip-inner {
  color: var(--color-danger);
}
.tooltip-primary .tooltip-inner {
  color: var(--color-primary);
}

.tooltip.bs-tooltip-top .tooltip-arrow::before {
  border-top-color: #fff !important;
}
.tooltip.bs-tooltip-bottom .tooltip-arrow::before {
  border-bottom-color: #fff !important;
}
.tooltip.bs-tooltip-end .tooltip-arrow::before {
  border-right-color: #fff !important;
}
.tooltip.bs-tooltip-start .tooltip-arrow::before {
  border-left-color: #fff !important;
}

.tooltip.mw-100 .tooltip-inner {
  max-width: 100% !important;
}
