$spinner-size: 3px;

.block-ui-wrapper {
  position: relative;
}

.block-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5); // ✅ พื้นหลังดำโปร่งใส
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  height: 100vh;
  opacity: 0; /* Start hidden */
  visibility: hidden; /* Hide from screen readers and pointer events */
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out; /* Transition defined here */
}

.block-overlay.blocked {
  opacity: 1; /* Fade in when 'blocked' class is present */
  visibility: visible; /* Make visible when 'blocked' class is present */
}

.block-spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block-spinner::after {
  content: "";
  width: 40px;
  height: 40px;
  border: $spinner-size solid #ffffff;
  border-top-color: transparent;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

.block-spinner span {
  margin-top: 10px;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.loader {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: $spinner-size solid #fff;
  animation: prixClipFix 2s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}
